#paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

#paginationContainer button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 120px;
  background-color: #4FBE9F;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#paginationContainer span {
  font-weight: bold;
  font-size: 16px;
  color: #777;
}

#paginationContainer{
  margin-bottom: 20px;
}